body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.headerWrapper {
    display: flex;
    margin: 0%;
    padding: 0;
}
.header {
    background-color: rgba(50, 50, 165,0.7);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    display: flex;
}   
.logo {
        box-sizing: border-box;
        width: 10vw;
}
 .topnav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: rgb(22, 166, 233);
}
.topnav a {
    display: block;
    color: rgba(40, 22, 102, 0.8);
    text-align: center;
    padding: 1.2em 1.2em;
    text-decoration: none;
}
.botnav {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    background-color: rgba(233, 148, 44, 0.8);
}
.botnav a {
    display:block;
    color: rgba(221, 34, 34,0.8);
    text-align: center;
    padding: 0.8em 0.8em;
    text-decoration: none;
}
/*Change color of hover*/
.topnav a:hover {
    background-color: rgb(5, 85, 165);
    color: black;
}
.special{
    color: orange;
    font-weight: bold;
}
.column-separate {
    display: flex;
}
 /*Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
    margin: 0;
}
.column.middle {
    width: 75%;
}

/* Clear floats after the columns*/
.row::after {
    content: "";
    display: table;
    clear: both;
}
.fridaynf2-img {
    height: 17em;
    aspect-ratio: 2.5;
    margin: 2px;
}
.fridaynf-img{
    height: 17em;
    aspect-ratio: 2.5;
}
.sonic2-img {
    height: 14em;
    aspect-ratio: 1;
}
.sonic-img {
    height: 14em;
    aspect-ratio: 1;
}
.footer {
    background-color: rgb(149, 162, 245);
    text-decoration: rgb(219, 129, 12);
    text-align: center;
    padding: 15px;
}
/*Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
    width: 100%;
    }
}

      

    